{:deps true
 :nrepl {:port 8777}
 :builds
 {:app {:target :browser
        :output-dir "public/js/compiled"
        :asset-path "/js/compiled"

        :modules
        {:main
         {:entries [wilkes.ttt.app.main]}}

        :devtools
        ;; before live-reloading any code call this function
        {:before-load wilkes.ttt.app.main/stop
         ;; after live-reloading finishes call this function
         :after-load wilkes.ttt.app.main/start
         ;; serve the public directory over http at port 8700
         :http-root "public"
         :http-port 8700
         :preloads [devtools.preload]}}}}
